// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.app-font {
  font-family: 'Lato', sans-serif;
}

.bordered {
  border: 1px grey;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
}
